[submodule "libraries/humla/src/main/jni/opus"]
	path = libraries/humla/src/main/jni/opus
	url = https://github.com/xiph/opus
[submodule "libraries/humla/src/main/jni/rnnoise"]
	path = libraries/humla/src/main/jni/rnnoise
	url = https://github.com/xiph/rnnoise.git
